/net/data.isilon/ag-cherrmann/lduttenhoefer/project/CAT12_newvals/data_output/
CAT12_newvals/data_output/
data_output/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/CAT12_newvals/new_hc_data/
data_output/
*.nii
*.nii.gz
output/logs/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/CAT12_newvals/new_hc_data/ds004856/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/CAT12_newvals/new_hc_data/SALD/
saving_0881025/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/CAT12_newvals/saving_101025/
saving_101025/